<div class=WordSection1>
<span style='font-family:"Arial","sans-serif"'>
<p class=MsoNormal style='text-align:justify'>{{\Carbon\Carbon::now()->format('F j, Y')}} <br> <br><br>

{{$recdetails->recchairs->rec_chairname}} <br>
CHAIR<br>
{{$recdetails->rec_name}}<br>
{{$recdetails->rec_institution}}<br><br><br>

Dear <b>{{$recdetails->recchairs->rec_chairname}}</b>,<br><br>
The Philippine Health Research Ethics Board (PHREB), upon the recommendation of
Committee on Standards and Accreditation will grant a <b>{{$awarding_status->document_types_name}} on Level {{$recdetails->level_id}} Accreditation</b> to the <b>{{$recdetails->rec_name}} - {{$recdetails->rec_institution}}</b> effective
<b>{{\Carbon\Carbon::createFromFormat('Y-m-d',$recdetails->date_accreditation)->format('F j, Y')}}</b>. This will give the IRB enough time to address the
issues raised by the Committee on Standards and Accreditation.<br><br>

Once accredited, the REC must comply with the 2016 PHREB accreditation policies and
2017 National Ethical Guidelines for Health and Health Related Research. These
can be accessed through PHREB website <a href="http://ethics.healthresearch.ph/"><span
style='color:windowtext'>http://ethics.healthresearch.ph/</span></a>. As PHREB
accredited REC, your responsibilities include

<ol style='margin-top:0in' start=1 type=1>
 <li class=MsoNormal style='text-align:justify'>Submission
     of annual report.</li>
 <li class=MsoNormal style='text-align:justify'>Reporting
     of any controversial or important ethical issues in the course of its work</li>
 <li class=MsoNormal style='text-align:justify'>Preparedness
     to be monitored or audited by PHREB.</li>
 <li class=MsoNormal style='text-align:justify'>Posting
     of accreditation certificate <b>– {{$recdetails->rec_name}}</b> shall post or display its
     certificate of accreditation in a conspicuous area within its office.</li>
 <li class=MsoNormal style='text-align:justify'>Send
     at least two (2) <b>{{$recdetails->rec_name}}</b> officers/members as accreditor-trainees
     when invited to participate in a PHREB accreditation visit.</li>
</ol><br>

In addition, you are required to submit to PHREB as recommended by the PHREB accreditor the following:<br><br>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none;width:100%'>
 <tr style='height:28.2pt;'>
  <td width=258 valign=top style='width:193.55pt;border:solid black 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:28.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Observations on submitted
  Action Plan</span></b></p>
  </td>
  <td width=259 valign=top style='width:194.6pt;border:solid black 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:28.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Recommendations</span></b></p>
  </td>
  <td width=216 valign=top style='width:162.3pt;border:solid black 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:28.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Document/s to
  submit</span></b></p>
  </td>
  <td width=115 valign=top style='width:86.6pt;border:solid black 1.0pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt;height:28.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>Due date</span></b></p>
  </td>
 </tr>
 <tr style='height:85.2pt'>
  <td width=258 valign=top style='width:193.55pt;border:solid black 1.0pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt;height:85.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>
  </td>
  <td width=259 valign=top style='width:194.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:85.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>
  </td>
  <td width=216 valign=top style='width:162.3pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:85.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>
  </td>
  <td width=115 valign=top style='width:86.6pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0in 5.4pt 0in 5.4pt;height:85.2pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif"'>&nbsp;</span></b></p>
  </td>
 </tr>
</table><br>

Please take note of the submission dates. Accreditation status at the end of the {{$awarding_status->document_types_name}} accreditation will depend on the submission of annual report and compliance to the above recommendations. <br><br>

As a PHREB accredited Level {{$recdetails->level_id}} REC, please continue to upgrade your work as a
quality review committee by consistently being updated about, and complying
with international, national standards and your SOPs, continuing ethics training,
improving review of protocols and monitoring the conduct of studies and
post-approval procedures till the end of the study. <br><br>

Ifyou have any queries, please contact Mr/Ms {{Auth::user()->name}} through telephone number (632) 837-7537 or email at ethics.secretariat@pchrd.dost.gov.ph. <br><br><br>

Congratulations and warm regards<br><br><br>

Very truly yours,<br><br><br><br><br>

<b>LEONARDO D. DE CASTRO, PhD</b><br>

<p class=MsoNormal style='text-align:justify'>                    
Chair</p>

</p></span>

</div>